@page
@model MyPhotosWebApp.Pages.Properties.IndexModel
@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-page="../Properties/Create" asp-route-id="@Model.fileId">Add New Property to this Image</a>
</p>
<h1>Properties for: @Model.fileName</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Type)
            </th>
            <th>
                Property Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PropertyValuePairs)
        {
            <tr style="font-size:small">
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>
